In [1]:
in_file = open("sample.csv", "r")
content = in_file.read()
in_file.close()
content

'4/5/2015 13:34,Apples,73\n4/5/2015 3:41,Cherries,85\n4/6/2015 12:46,Pears,14\n4/8/2015 8:59,Oranges,52\n4/10/2015 2:07,Apples,152\n4/10/2015 18:10,Bananas,23\n4/10/2015 2:40,Strawberries,98'

In [2]:
in_file = open("sample.csv", "r")
for line in in_file:
    print(line)

4/5/2015 13:34,Apples,73

4/5/2015 3:41,Cherries,85

4/6/2015 12:46,Pears,14

4/8/2015 8:59,Oranges,52

4/10/2015 2:07,Apples,152

4/10/2015 18:10,Bananas,23

4/10/2015 2:40,Strawberries,98

In [3]:
import csv

In [4]:
in_file = open("sample.csv", "r")

In [6]:
csv_reader = csv.reader(in_file)

In [10]:
data = list(csv_reader)
data

[['4/5/2015 13:34', 'Apples', '73'],
 ['4/5/2015 3:41', 'Cherries', '85'],
 ['4/6/2015 12:46', 'Pears', '14'],
 ['4/8/2015 8:59', 'Oranges', '52'],
 ['4/10/2015 2:07', 'Apples', '152'],
 ['4/10/2015 18:10', 'Bananas', '23'],
 ['4/10/2015 2:40', 'Strawberries', '98']]

In [11]:
in_file.close()

In [17]:
in_file = open("sample.csv", "r")

In [18]:
csv_reader = csv.reader(in_file)

In [19]:
for line in csv_reader:
    print(csv_reader.line_num, line, type(line))

1 ['4/5/2015 13:34', 'Apples', '73'] <class 'list'>
2 ['4/5/2015 3:41', 'Cherries', '85'] <class 'list'>
3 ['4/6/2015 12:46', 'Pears', '14'] <class 'list'>
4 ['4/8/2015 8:59', 'Oranges', '52'] <class 'list'>
5 ['4/10/2015 2:07', 'Apples', '152'] <class 'list'>
6 ['4/10/2015 18:10', 'Bananas', '23'] <class 'list'>
7 ['4/10/2015 2:40', 'Strawberries', '98'] <class 'list'>

In [20]:
in_file.close()

### write to csv

In [21]:
out_file = open("out.csv", "w")
csv_writer = csv.writer(out_file)

In [27]:
csv_writer.writerow(["julyedu", "baidu", "meitu", "fb"])

ValueError: I/O operation on closed file.

In [23]:
csv_writer.writerow([1,5,-4,22])

11

In [24]:
csv_writer.writerow(["aaple", 12, None, 11])

14

In [25]:
out_file.close()

In [26]:
out_file = open("out.tsv", "w")
tsv_writer = csv.writer(out_file, delimiter="\t")

In [28]:
tsv_writer.writerow(["julyedu", "baidu", "meitu", "fb"])

24

In [29]:
tsv_writer.writerow([1,5,-4,22])

11

In [30]:
tsv_writer.writerow(["aaple", 12, None, 11])

14

In [31]:
out_file.close()

## json

In [32]:
import json

In [33]:
data = '{"name": "July", "salary": 999999, "title": "CEO", "manager": null}'

In [34]:
# json parser
json_data = json.loads(data)
json_data

{'manager': None, 'name': 'July', 'salary': 999999, 'title': 'CEO'}

In [35]:
type(json_data)

dict

In [39]:
in_file = open("recursion-sort.ipynb", "r")
json_data = json.load(in_file)
in_file.close()

In [53]:
json_data["cells"][2]["source"]

['for i in range(10):\n', '    print(factorial(i))']

In [54]:
json_data["cells"][2]["outputs"]

[{'name': 'stdout',
  'output_type': 'stream',
  'text': ['1\n',
   '1\n',
   '2\n',
   '6\n',
   '24\n',
   '120\n',
   '720\n',
   '5040\n',
   '40320\n',
   '362880\n']}]

In [56]:
type(json_data)

dict

In [57]:
out_file = open("out.json", "w")
json.dump(json_data, out_file)
out_file.close()

In [58]:
dumped_json = json.dumps(json_data)

In [60]:
type(dumped_json)

str