In [2]:
i = 1
j = 2

In [3]:
i

1

In [44]:
names = ["tensorflow", "keras", "python", "jupyter", "julyedu"]

In [7]:
type(names)

list

### For Loop

In [13]:
for name in names:
    print(name)

tensorflow
keras
python
jupyter
julyedu

#### range

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(5, 20, 5))

[5, 10, 15]

In [24]:
list(range(5,20, 3))

[5, 8, 11, 14, 17]

In [26]:
list(range(20, 5, -2))

[20, 18, 16, 14, 12, 10, 8, 6]

In [33]:
for i in range(len(names)):
    print(i, names[i])

0 tensorflow
1 keras
2 python
3 jupyter
4 julyedu

In [36]:
for i, name in enumerate(names):
    print(i, name)

0 tensorflow
1 keras
2 python
3 jupyter
4 julyedu

#### list comprehension

In [39]:
names

['tensorflow', 'keras', 'python', 'jupyter', 'julyedu']

In [40]:
for i in range(len(names)):
    names[i] = "stupid " + names[i]

In [46]:
names

['tensorflow', 'keras', 'python', 'jupyter', 'julyedu']

In [47]:
["stupid " + name for name in names]

['stupid tensorflow',
 'stupid keras',
 'stupid python',
 'stupid jupyter',
 'stupid julyedu']

### while loop

In [49]:
i = 0
while i < 10:
    print(i)
    i += 1
print("while loop finished")

0
1
2
3
4
5
6
7
8
9
while loop finished

#### break/continue

In [51]:
i = 0
while True:
    print(i)
    i += 1
    if i >= 10:
        break

0
1
2
3
4
5
6
7
8
9

In [54]:
i = 0
while 1:
    if i % 5 == 0:
        i += 1
        continue
        
    print(i)
    i += 1
    if i >= 20:
        break

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

### 小练习：输出一个fibonacci数列

0, 1, 1, 2, 3, 5, 8, 13, 21, 34

In [59]:
fibs = []
i = 0
j = 1
while i < 500:
    fibs.append(i)
    i,j = j,i+j
print(fibs)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [61]:
fibs = [0, 1]
for i in range(15):
    fibs.append(sum(fibs[-2:]))
print(fibs)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]