In [12]:
stack = ["julyedu", "apple", "facebook", "baidu", "alibaba", "tencent"]

In [13]:
stack

['julyedu', 'apple', 'facebook', 'baidu', 'alibaba', 'tencent']

In [14]:
stack.append("google")

In [15]:
stack

['julyedu', 'apple', 'facebook', 'baidu', 'alibaba', 'tencent', 'google']

In [16]:
stack.pop()

'google'

In [18]:
stack.pop()

'tencent'

In [19]:
stack

['julyedu', 'apple', 'facebook', 'baidu', 'alibaba']

### queue

In [20]:
from collections import deque

In [22]:
queue = deque(["julyedu", "apple", "facebook", "baidu", "alibaba", "tencent"])

In [24]:
queue.append("google")

In [25]:
queue

deque(['julyedu',
       'apple',
       'facebook',
       'baidu',
       'alibaba',
       'tencent',
       'google'])

In [34]:
queue.popleft()

IndexError: pop from an empty deque

In [35]:
queue

deque([])

### list comprehension

In [44]:
instructors = ["Han", "Chu", "July", "Wang"]

In [37]:
instructors

['Han', 'Chu', 'July', 'Wang']

In [38]:
for i in range(len(instructors)):
    instructors[i] = "Mr. " + instructors[i]
instructors

['Mr. Han', 'Mr. Chu', 'Mr. July', 'Mr. Wang']

In [43]:
instructors = ["Mr. " + i for i in instructors]
instructors

['Mr. Han', 'Mr. Chu', 'Mr. July', 'Mr. Wang']

In [45]:
["Mr. " + i for i in instructors if i != "Wang"]

['Mr. Han', 'Mr. Chu', 'Mr. July']

In [47]:
["Mr. " + i if i != "Wang" else "Ms. " + i for i in instructors]

['Mr. Han', 'Mr. Chu', 'Mr. July', 'Ms. Wang']

### exercise

In [48]:
instructors = [ ["Han", "male"], ["July", "male"], ["Chu", "male"], ["Wang", "female"]
    ]
instructors
# ['Mr. Han', 'Mr. Chu', 'Mr. July', 'Ms. Wang']

[['Han', 'male'], ['July', 'male'], ['Chu', 'male'], ['Wang', 'female']]

## Set

In [53]:
names = {"tensor", "torch", "july", "jupyter", "python", "numpy","numpy","numpy","numpy","numpy", "numpy"}
print(type(names))
names

<class 'set'>

{'july', 'jupyter', 'numpy', 'python', 'tensor', 'torch'}

In [54]:
empty_set = set()
empty_set

set()

In [60]:
numbers = [1,4,5,2,1,4,5,2,2,2,4,4,5,5, 10, 12, 10, 12]

In [56]:
type(numbers)

list

In [61]:
list(set(numbers))

[1, 2, 4, 5, 10, 12]

In [62]:
list("banana")

['b', 'a', 'n', 'a', 'n', 'a']

In [63]:
set("banana")

{'a', 'b', 'n'}

In [69]:
{x for x in "banana" if x in "an"}

{'a', 'n'}

## tuple

In [72]:
t = (1, "facebook", "palo alto")

In [74]:
print(type(t))
print(t)

<class 'tuple'>
(1, 'facebook', 'palo alto')

In [77]:
t[2]

'palo alto'

In [80]:
x, y, z = t
print(x)
print(y)
print(z)

1
facebook
palo alto

tuples are immutable

In [87]:
t[1] = "julyedu"

TypeError: 'tuple' object does not support item assignment

In [85]:
l = list(t)
l

[1, 'facebook', 'palo alto']

In [86]:
l[1] = "julyedu"
l

[1, 'julyedu', 'palo alto']

## dictionary

In [89]:
fruit = {'apple':0, 'banana': 2, "orange":3, "pineapple":4}
print(fruit)
print(type(fruit))

{'apple': 0, 'banana': 2, 'orange': 3, 'pineapple': 4}
<class 'dict'>

In [90]:
fruit["apple"]

0

In [91]:
fruit["pineapple"]

4

In [92]:
fruit[1]

KeyError: 1

In [93]:
fruit.keys()

dict_keys(['apple', 'banana', 'orange', 'pineapple'])

In [94]:
fruit.values()

dict_values([0, 2, 3, 4])

In [95]:
list(fruit)

['apple', 'banana', 'orange', 'pineapple']

In [96]:
schools = [("Harvard", 1), ("Princeton", 2), ("Yale", 3), ("Stanford", 4), ("MIT", 5)]

In [103]:
type(dict(schools))

dict

In [104]:
vocab = ["apple", "bit", "chrome", "face", "google", "hack", "internet", "jupyter", "kaggle"]
vocab

['apple',
 'bit',
 'chrome',
 'face',
 'google',
 'hack',
 'internet',
 'jupyter',
 'kaggle']

In [110]:
idx2word = dict(list(enumerate(vocab)))

In [114]:
idx2word

{0: 'apple',
 1: 'bit',
 2: 'chrome',
 3: 'face',
 4: 'google',
 5: 'hack',
 6: 'internet',
 7: 'jupyter',
 8: 'kaggle'}

In [118]:
word2idx = { w:i for i, w in enumerate(vocab)}

In [120]:
word2idx["google"]

4