# Pandas教程
### 2017七月在线 Python数据分析基础课 julyedu.com
by 褚则伟

## 目录
- DataFrame

## 数据结构DataFrame
### 2017七月在线 Python数据分析基础课 julyedu.com

In [80]:
cities = {'Beijing': 55000, 'Shanghai': 60000, 'Shenzhen': 50000, 'Hangzhou': 20000, 'Guangzhou': 25000, 'Suzhou': None}
# apts = pd.Series(cities)
apts = pd.Series(cities, name="price")
apts

Beijing      55000.0
Guangzhou    25000.0
Hangzhou     20000.0
Shanghai     60000.0
Shenzhen     50000.0
Suzhou           NaN
Name: price, dtype: float64

In [81]:
cars = pd.Series({'Beijing': 300000, 'Shanghai': 400000, 'Shenzhen': 300000, \
                      'Tianjin': 200000, 'Guangzhou': 200000, 'Chongqing': 150000}, name="cars")
cars

Beijing      300000
Chongqing    150000
Guangzhou    200000
Shanghai     400000
Shenzhen     300000
Tianjin      200000
Name: cars, dtype: int64

In [82]:
df = pd.DataFrame({"apts": apts, "cars": cars})
df

              apts      cars
Beijing    55000.0  300000.0
Chongqing      NaN  150000.0
Guangzhou  25000.0  200000.0
Hangzhou   20000.0       NaN
Shanghai   60000.0  400000.0
Shenzhen   50000.0  300000.0
Suzhou         NaN       NaN
Tianjin        NaN  200000.0

加入一个新的column,默认会broadcast

DataFrame的行由index决定

DataFrame的列由column names决定

loc方法可以用index选中行

下面这种方法默认用来选列而不是选行

iloc方法可以用数字选中行

行列一起选

### DataFrame元素赋值

可以给一整列赋值

还可以用Series来指定需要修改的index以及相对应的value，没有指定的默认用NaN.

一个DataFrame就和一个numpy 2d array一样，可以被转置

用info查看DataFrame的信息

我们还可以指定index的名字和列的名字

## 课后作业
研究一下pandas当中的broadcast是怎么用的，对比一下numpy中的broadcast