# Pandas教程

by 褚则伟

### 2017七月在线 Python数据分析基础课 julyedu.com

## 目录
- Series
- DataFrame
- Index, reindex and hierarchical indexing
- Merge, Join, Concatenate, Groupby and Aggregate
- Read from csv
- 随堂案例：bikes routes counts

## 数据结构Series

### 2017七月在线 Python数据分析基础课 julyedu.com

In [29]:
df["apts"]

Beijing      55000.0
Chongqing        NaN
Guangzhou    25000.0
Hangzhou     20000.0
Shanghai     60000.0
Shenzhen     50000.0
Suzhou           NaN
Tianjin          NaN
Name: apts, dtype: float64

In [ ]:
df

In [32]:
df["total_cost"] = df["apts"]*100 + df["cars"]
df

              apts      cars  total_cost
Beijing    55000.0  300000.0   5800000.0
Chongqing      NaN  150000.0         NaN
Guangzhou  25000.0  200000.0   2700000.0
Hangzhou   20000.0       NaN         NaN
Shanghai   60000.0  400000.0   6400000.0
Shenzhen   50000.0  300000.0   5300000.0
Suzhou         NaN       NaN         NaN
Tianjin        NaN  200000.0         NaN

In [44]:
print(frame2['city'])
type(frame2['city'])

one        Beijing
two       Shanghai
three    Guangzhou
four      Shenzhen
five      Hangzhou
six      Chongqing
Name: city, dtype: object

pandas.core.series.Series

In [45]:
print(frame2.year)
type(frame2.year)

one      2016
two      2017
three    2016
four     2017
five     2016
six      2016
Name: year, dtype: int64

pandas.core.series.Series

In [58]:
print(frame2.ix['three'])
type(frame2.ix['three'])

year               2016
city          Guangzhou
population         1000
debt                100
Name: three, dtype: object

pandas.core.series.Series

下面这种方法默认用来选列而不是选行

In [60]:
# print(frame2["three"])

In [52]:
print(frame2.ix[1])
type(frame2.ix[1])

year              2017
city          Shanghai
population        2300
debt               NaN
Name: two, dtype: object

pandas.core.series.Series

### DataFrame元素赋值

In [71]:
frame2["population"]["one"] = 2100

c:\users\jasonchuzewei\anaconda3\envs\julyedu\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

可以给一整列赋值

In [70]:
frame2['debt'] = 100
print(frame2)

       year       city  population  debt western
one    2016    Beijing        2200   100   False
two    2017   Shanghai        2300   100   False
three  2016  Guangzhou        1000   100   False
four   2017   Shenzhen         700   100   False
five   2016   Hangzhou         500   100   False
six    2016  Chongqing         500   100    True

In [73]:
frame2.ix['six'] = 0
print(frame2)

       year       city  population  debt western
one    2016    Beijing        2100     0   False
two    2017   Shanghai        2300     1   False
three  2016  Guangzhou        1000     2   False
four   2017   Shenzhen         700     3   False
five   2016   Hangzhou         500     4   False
six       0          0           0     0   False

In [74]:
frame2 = pd.DataFrame(data, \
                     columns = ['year', 'city', 'population', 'debt'],
                     index = ['one', 'two', 'three', 'four', 'five', 'six'])
print(frame2)

       year       city  population debt
one    2016    Beijing        2100  NaN
two    2017   Shanghai        2300  NaN
three  2016  Guangzhou        1000  NaN
four   2017   Shenzhen         700  NaN
five   2016   Hangzhou         500  NaN
six    2016  Chongqing         500  NaN

In [107]:
frame2
frame2.index
frame2['city']

one        Beijing
two       Shanghai
three    Guangzhou
four      Shenzhen
five      Hangzhou
six      Chongqing
Name: city, dtype: object

In [75]:
frame2.debt = np.arange(6)
print(frame2)

       year       city  population  debt
one    2016    Beijing        2100     0
two    2017   Shanghai        2300     1
three  2016  Guangzhou        1000     2
four   2017   Shenzhen         700     3
five   2016   Hangzhou         500     4
six    2016  Chongqing         500     5

还可以用Series来指定需要修改的index以及相对应的value，没有指定的默认用NaN.

In [76]:
val = pd.Series([100, 200, 300], index=['two', 'three', 'five'])
frame2['debt'] = val
print(frame2)

       year       city  population   debt
one    2016    Beijing        2100    NaN
two    2017   Shanghai        2300  100.0
three  2016  Guangzhou        1000  200.0
four   2017   Shenzhen         700    NaN
five   2016   Hangzhou         500  300.0
six    2016  Chongqing         500    NaN

In [77]:
frame2['western'] = (frame2.city == 'Chongqing')
print(frame2)

       year       city  population   debt western
one    2016    Beijing        2100    NaN   False
two    2017   Shanghai        2300  100.0   False
three  2016  Guangzhou        1000  200.0   False
four   2017   Shenzhen         700    NaN   False
five   2016   Hangzhou         500  300.0   False
six    2016  Chongqing         500    NaN    True

In [81]:
print(frame2.columns)

Index(['year', 'city', 'population', 'debt', 'western'], dtype='object')

一个DataFrame就和一个numpy 2d array一样，可以被转置

In [82]:
pop = {'Beijing': {2016: 2100, 2017:2200},
      'Shanghai': {2015:2400, 2016:2500, 2017:2600}}

In [83]:
frame3 = pd.DataFrame(pop)
print(frame3)
print(frame3.T)

      Beijing  Shanghai
2015      NaN      2400
2016   2100.0      2500
2017   2200.0      2600
            2015    2016    2017
Beijing      NaN  2100.0  2200.0
Shanghai  2400.0  2500.0  2600.0

指定index的顺序，以及使用切片初始化数据

In [85]:
print(pd.DataFrame(pop, index=[2016,2015,2017]))

      Beijing  Shanghai
2016   2100.0      2500
2015      NaN      2400
2017   2200.0      2600

In [86]:
pdata = {'Beijing': frame3['Beijing'][:-1], 'Shanghai':frame3['Shanghai'][:-1]}
print(pd.DataFrame(pdata))

      Beijing  Shanghai
2015      NaN      2400
2016   2100.0      2500

我们还可以指定index的名字和列的名字

In [87]:
frame3.index.name = 'year'
frame3.columns.name = 'city'
print(frame3)

city  Beijing  Shanghai
year
2015      NaN      2400
2016   2100.0      2500
2017   2200.0      2600

In [88]:
print(frame3.values)
print(frame2)
print(type(frame2.values))

[[   nan  2400.]
 [ 2100.  2500.]
 [ 2200.  2600.]]
       year       city  population   debt western
one    2016    Beijing        2100    NaN   False
two    2017   Shanghai        2300  100.0   False
three  2016  Guangzhou        1000  200.0   False
four   2017   Shenzhen         700    NaN   False
five   2016   Hangzhou         500  300.0   False
six    2016  Chongqing         500    NaN    True
<class 'numpy.ndarray'>

## Index
### 七月在线python数据分析班 2017升级版 julyedu.com

### index object

In [90]:
obj = pd.Series(range(3), index = ['a', 'b', 'c'])
index = obj.index
print(index)
print(index[1:])

Index(['a', 'b', 'c'], dtype='object')
Index(['b', 'c'], dtype='object')

index的值是不能被更改的

In [92]:
index[1] = 'd'

TypeError: Index does not support mutable operations

In [98]:
index = pd.Index(np.arange(3))
obj2 = pd.Series([2,5,7], index=index)
print(obj2)
print(obj2.index is index)
print(obj2.index is np.arange(3))

0    2
1    5
2    7
dtype: int64
True
False

In [96]:
pop = {'Beijing': {2016: 2100, 2017:2200},
      'Shanghai': {2015:2400, 2016:2500, 2017:2600}}
frame3 = pd.DataFrame(pop)
print('Shanghai' in frame3.columns)
print(2015 in frame3.index)

True
True

### 针对index进行索引和切片

In [99]:
obj = pd.Series(np.arange(4), index=['a', 'b', 'c', 'd'])
print(obj['b'])

1

默认的数字index依旧可以使用

In [103]:
print(obj[3])
print()
print(obj[[1,3]])

3

b    1
d    3
dtype: int32

In [30]:
print(obj[obj<2])

a    0
b    1
dtype: int32

下面介绍如何对Series进行切片

In [31]:
print(obj['b':'c'])
obj['b':'c'] = 5
print(obj)

b    1
c    2
dtype: int32
a    0
b    5
c    5
d    3
dtype: int32

对DataFrame进行Indexing与Series基本相同

In [110]:
frame = pd.DataFrame(np.arange(9).reshape(3,3), 
                    index = ['a', 'c', 'd'],
                    columns = ['Hangzhou', 'Shenzhen', 'Nanjing'])

In [35]:
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5
d         6         7        8

In [37]:
print(frame['Hangzhou'])

a    0
c    3
d    6
Name: Hangzhou, dtype: int32

In [39]:
print(frame[['Shenzhen', 'Nanjing']])

   Shenzhen  Nanjing
a         1        2
c         4        5
d         7        8

In [114]:
print(frame[:2])

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5

In [115]:
print(frame.ix['a'])

Hangzhou    0
Shenzhen    1
Nanjing     2
Name: a, dtype: int32

In [116]:
print(frame.ix[['a','d'], ['Shenzhen', 'Nanjing']])

   Shenzhen  Nanjing
a         1        2
d         7        8

In [123]:
print(frame.ix[:'c', 'Hangzhou'])

a    0
c    3
Name: Hangzhou, dtype: int32

DataFrame也可以用condition selection

In [124]:
print(frame[frame.Hangzhou > 1])

   Hangzhou  Shenzhen  Nanjing
c         3         4        5
d         6         7        8

In [125]:
print(frame < 5)

  Hangzhou Shenzhen Nanjing
a     True     True    True
c     True     True   False
d    False    False   False

In [126]:
frame[frame < 5] = 0
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         0        0
c         0         0        5
d         6         7        8

### [reindex](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reindex.html)

把一个Series或者DataFrame按照新的index顺序进行重排

In [3]:
import numpy as np
import pandas as pd

In [127]:
obj = pd.Series([4.5, 7.2, -5.3, 3.2], index=['d', 'b', 'a', 'c'])
print(obj)

d    4.5
b    7.2
a   -5.3
c    3.2
dtype: float64

In [128]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)

a   -5.3
b    7.2
c    3.2
d    4.5
e    NaN
dtype: float64

In [129]:
print(obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value = 0))

a   -5.3
b    7.2
c    3.2
d    4.5
e    0.0
dtype: float64

In [130]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0,2,4])
print(obj3)

0      blue
2    purple
4    yellow
dtype: object

In [131]:
print(obj3.reindex(range(6), method='ffill'))

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [132]:
print(obj3.reindex(range(6), method='bfill'))

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

既然我们可以对Series进行reindex，相应地，我们也可以用同样的方法对DataFrame进行reindex。

In [133]:
frame = pd.DataFrame(np.arange(9).reshape(3,3), 
                    index = ['a', 'c', 'd'],
                    columns = ['Hangzhou', 'Shenzhen', 'Nanjing'])
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5
d         6         7        8

In [134]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
print(frame2)

   Hangzhou  Shenzhen  Nanjing
a       0.0       1.0      2.0
b       NaN       NaN      NaN
c       3.0       4.0      5.0
d       6.0       7.0      8.0

在reindex的同时，我们还可以重新指定columns

In [136]:
print(frame.reindex(columns = ['Shenzhen', 'Hangzhou', 'Chongqing']))

   Shenzhen  Hangzhou  Chongqing
a         1         0        NaN
c         4         3        NaN
d         7         6        NaN

In [137]:
print(frame.reindex(index = ['a', 'b', 'c', 'd'],
                    method = 'ffill',
                    columns = ['Shenzhen', 'Hangzhou', 'Chongqing']))
print(frame.ix[['a', 'b', 'd', 'c'], ['Shenzhen', 'Hangzhou', 'Chongqing']])

   Shenzhen  Hangzhou  Chongqing
a         1         0        NaN
b         1         0        NaN
c         4         3        NaN
d         7         6        NaN
   Shenzhen  Hangzhou  Chongqing
a       1.0       0.0        NaN
b       NaN       NaN        NaN
d       7.0       6.0        NaN
c       4.0       3.0        NaN

In [ ]:
下面介绍如何用drop来删除Series和DataFrame中的index

In [138]:
print(obj3)
obj4 = obj3.drop(2)
print(obj4)

0      blue
2    purple
4    yellow
dtype: object
0      blue
4    yellow
dtype: object

In [139]:
print(obj3.drop([2,4]))

0    blue
dtype: object

In [140]:
print(frame)

   Hangzhou  Shenzhen  Nanjing
a         0         1        2
c         3         4        5
d         6         7        8

In [141]:
print(frame.drop(['a', 'c']))

   Hangzhou  Shenzhen  Nanjing
d         6         7        8

drop不仅仅可以删除行，还可以删除列

In [142]:
print(frame.drop('Shenzhen', axis=1))

   Hangzhou  Nanjing
a         0        2
c         3        5
d         6        8

In [143]:
print(frame.drop(['Shenzhen', 'Hangzhou'], axis=1))

   Nanjing
a        2
c        5
d        8

### hierarchical index

In [2]:
import numpy as np
import pandas as pd

Series的hierarchical indexing

In [144]:
data = pd.Series(np.random.randn(10), index=[['a','a','a','b','b','c','c','c','d','d'], [1,2,3,1,2,1,2,3,1,2]])
print(data)

a  1   -0.370285
   2    0.509911
   3    0.845561
b  1   -0.308466
   2   -0.493243
c  1    1.799576
   2    2.469641
   3    1.150197
d  1    0.802092
   2   -0.356297
dtype: float64

In [145]:
print(data.index)

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 2, 2, 2, 3, 3], [0, 1, 2, 0, 1, 0, 1, 2, 0, 1]])

In [146]:
print(data.b)

1   -0.308466
2   -0.493243
dtype: float64

In [7]:
print(data['b':'c'])

b  1    0.641165
   2    0.174197
c  1   -0.368307
   2    2.280507
   3    0.683652
dtype: float64

In [8]:
print(data[:2])

a  1   -0.571858
   2   -0.542655
dtype: float64

unstack和stack可以帮助我们在hierarchical indexing和DataFrame之间进行切换。

In [147]:
print(data.unstack())
print(type(data.unstack()))

          1         2         3
a -0.370285  0.509911  0.845561
b -0.308466 -0.493243       NaN
c  1.799576  2.469641  1.150197
d  0.802092 -0.356297       NaN
<class 'pandas.core.frame.DataFrame'>

In [148]:
print(data.unstack().stack())
print(type(data.unstack().stack()))

a  1   -0.370285
   2    0.509911
   3    0.845561
b  1   -0.308466
   2   -0.493243
c  1    1.799576
   2    2.469641
   3    1.150197
d  1    0.802092
   2   -0.356297
dtype: float64
<class 'pandas.core.series.Series'>

DataFrame的hierarchical indexing

In [149]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                    index = [['a','a','b','b'], [1,2,1,2]],
                    columns = [['Beijing', 'Beijing', 'Shanghai'], ['apts', 'cars', 'apts']])
print(frame)

    Beijing      Shanghai
       apts cars     apts
a 1       0    1        2
  2       3    4        5
b 1       6    7        8
  2       9   10       11

In [150]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['city', 'type']
print(frame)

city      Beijing      Shanghai
type         apts cars     apts
key1 key2
a    1          0    1        2
     2          3    4        5
b    1          6    7        8
     2          9   10       11

In [154]:
print(frame.ix['a', 1])
print(type(frame.ix['a', 1]))

city      type
Beijing   apts    0
          cars    1
Shanghai  apts    2
Name: (a, 1), dtype: int32
<class 'pandas.core.series.Series'>

In [155]:
print(frame.ix['a', 2]['Beijing'])

type
apts    3
cars    4
Name: (a, 2), dtype: int32

In [156]:
print(frame.ix['a', 2]['Beijing']['apts'])

3